*{
	font-family: "Arial", serif;
}

div{
	display: flex;
}

#main{
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#editor{
	
}

#display{
	min-height: 200px;
	min-width: 400px;
	border: 5px solid black;
	margin-left: 40px;
}

.clBlock{
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.slidersAndBoxes{
	flex-direction: column;
}

.numberboxArea{
	align-items: center;
	justify-content: space-around;
}

.sliderArea{
	align-items: center;
	justify-content: space-around;
	margin-top: 6px;
}

.colNamesArea{
	align-items: center;
	justify-content: space-around;
}

.slider::-webkit-slider-runnable-track {
	background: inherit;
	height: 1rem;
	border-radius: 6px;
 }
        /* For Firefox */
.slider::-moz-range-track {
	background: inherit;
	height: 1rem;
	border-radius: 6px;
}

.slider{
	width: 100%;
	min-width: 30px;
	background: linear-gradient(to right, cyan, black, cyan);
}

.numberbox{
	width: 100%;
	min-width: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.colname{
	font-size: 20px;
	margin-bottom: 7px;
}

.colHeader{
	font-size: 30px;
}

.colHeaderDiv{
	max-height: 50px;
	margin-right: 30px;
}

.extraSettings{
	font-size: 10px;
	margin-top: 10px;
	width: 100%;
	justify-content: flex-start;
}

#clippingError{
	margin-left: 30px;
	font-size: 10px;
	color: red;
	max-width: 200px;
}

.colHeaders{
	flex-direction: column;
	justify-content: space-around;
}

.clBlocks{
	flex-direction: column;
	justify-content: flex-start;
}

#progtitle{
	margin-bottom: 30px;
	font-size: 40px;
}

#display:hover #palette{
	display: block;
}

#palette{
	background: white;
	width: 400px;
	height: 200px;
	display: none;
}